body {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#wrapper {
    background-color: lightsteelblue;
    box-shadow: 0 0 5px lightblue;
    width: 30vw;
    margin: 0 auto;
}
#title {
    background-color:rgb(66, 102, 218);
    color: white;
    margin: 0 0 2px 0;
    height: 5vh;
    width: 30vw;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2vw;
}
#add-btn {
    cursor: pointer;
    float: right;
    font-size: 75%;
}
#text-entry {
    width: 30vw;
    box-sizing: border-box;
    font-size: 18px;
    background-color:lightgray;
    height: 40px;
    border: 3px solid rgba(0,0,0,0);
}
#text-entry:focus {
    background-color:white;
    border: 3px solid #2980b9;
}
#keeper {
    list-style: none;
    padding: 0;
    margin: 0;
}
.todo {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    background-color:white;
}
.todo:hover .trash {
    width:40px;
    opacity: 1.0;
}
.todo:nth-child(2n){
    background-color: lightgray;
}
.trash {
    display: inline-block;
    background-color: rgb(231, 46, 46);
    height: 40px;
    margin-right: 20px;
    text-align:center;
    color: white;
    width: 0px;
    transition: 0.2s linear;
    opacity: 0.0;
}


/* Classes for Events */

.completed {
    text-decoration: line-through;
    color: rgb(107, 101, 101);
}
.hide-element {
    display: none;
}